.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}

.header {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.5px;
  text-align: center;
  color: #363636;
  font-family: Nunito Sans;
  width: 164px;
}

.image {
  margin: 46px 0 96px;
}

.button {
  display: flex;
  width: 345px;
  padding: 14px 30px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: #e71e50;
  border: none;

  color: #fff;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 23px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 86.957% */
  letter-spacing: -0.5px;
  text-transform: uppercase;
}
